{% trans_default_domain 'account' %}
{% extends "TSFrontBundle::base.html.twig" %}

{% block title "reset.alreadyRequested.title"|trans %}


{% block content %}
<div class="container">
	<div class="alert alert-danger">
		<strong><i class="fa fa-times-circle-o"></i> {{ 'reset.alreadyRequested.text'|trans }}</strong>
	</div>
</div>
{% endblock %}
