<div class="table-wrapper">
    <!-- Loadingpane for first pageload -->
    <div class="loadingpane"><div class="logo spinner"><i class="glyphicon glyphicon-bookmark"></i> Tournia.net</div></div>

    <h2 class="table-title">
        Search
    </h2>

</div>

{% include "TSLiveBundle:Search:matches.html.underscore" %}