#financial-pricing {
    .charts {
        margin-top: 30px;

        @media (max-width: 991px) {
            margin-top: 10px;
        }

        .chart {
            background-color: #fff;
            border: 1px solid #E6E6E6;
            border-radius: 5px;
            box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
            padding: 20px 40px;
            position: relative;
            text-align: center;
            width: 97%;

            min-height: 315px;
            position: relative;
            top: 37px;

            @media (max-width: 991px) {
                float: none !important;
                left: 0px !important;
                top: 0px !important;
                margin: 0 auto;
                width: 55%;
                margin-bottom: 25px !important;

                &.last {
                    margin-bottom: 0px !important;
                }
            }

            @media (max-width: 600px) {
                width: 90% !important;
            }

            &.first {
                float: right;
                left: 12px;
            }

            &.last {
                left: -12px;
            }

            &.plan-featured {
                min-height: 350px;
                top: 0px;

                .popular {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: #B1B1B1;
                    font-weight: 400;
                }
                .quantity {
                    margin-top: 15px;
                }
            }

            .quantity {
                text-align: center;
                .dollar {
                    font-size: 19px;
                    position: relative;
                    top: -12px;
                }
                .price {
                    font-size: 39px;
                }
                .period {
                    font-size: 17px;
                    position: relative;
                    top: 0px;
                    margin-left: 4px;
                }
            }
            .plan-name {
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                color: #777;
                border-bottom: 1px solid #d5d5d5;
                padding-bottom: 15px;
                width: 90%;
                margin: 0 auto;
                margin-top: 8px;
            }
            .specs {
                margin-top: 20px;
                .spec {
                    font-size: 15px;
                    color: #474747;
                    text-align: center;
                    font-weight: 300;
                    margin-bottom: 13px;

                    .variable {
                        color: #1FBEE7;
                        font-weight: 400;
                    }
                }
            }
            .btn-signup {
                margin-top: 20px;
            }
        }
    }
}