{% trans_default_domain "live" %}
{% extends "TSSiteBundle::base.html.twig" %}
{% block title "closed.title"|trans %}

{% block content %}
<h3>{{ 'closed.text1'|trans }}</h3>
<p>{{ 'closed.text2'|trans }}</p>

{% endblock %}
