<div class="table-wrapper">
    <!-- Loadingpane for first pageload -->
    <div class="loadingpane"><div class="logo"><i class="glyphicon glyphicon-bookmark"></i> Tournia.net</div></div>

    <h2 class="table-title">
        Rankings
    </h2>

</div>

{% include "TSLiveBundle:Pools:poolSelector.html.underscore" %}
{% include "TSLiveBundle:Rankings:list.html.underscore" %}