{% trans_default_domain "account" %}
{% form_theme form 'TSFrontBundle::form.html.twig' %}
{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    {{ form_widget(form) }}
    <div>
        <input type="submit" class="btn btn-primary" value="{{ 'reset.change.submit'|trans }}" />
    </div>
</form>

{% endblock fos_user_content %}
